<% include ../partials/header %>
<br> <br>
<div style="text-align : center">
  <h1><i class="twitter icon blue"></i>TwitterMoods <i class="twitter icon blue"></i></h1>
  <p style="font-family : Courier">See the mood of society live, for a certain topic. </p>
    <form action="/tweetie" method="POST">
      <textarea name="tweetSearch" rows="8" cols="40" placeholder="Enter any topic(s)"></textarea> <br>
      <button class="ui button blue">Search</button>
    </form>
    <br>
    <br>

</div>



<% include ../partials/header %>
